* {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  text-align: center;
}
h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  max-width: 800px;
}

label {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
}

input {
  width: 40%;
  outline: none;
}
/* input:valid {
  border: 2px solid green;
}
input:invalid {
  border: 2px solid red;
} */
.valid {
  border: 2px solid green;
}
.invalid {
  border: 2px solid red;
}